a{
    text-decoration: none;
}
.order_complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin:20px auto;
}
.order_complete .ok{
    height:100px;
    width: auto;
    object-fit: contain;
}
.order_complete > button {
    display: block;
    background: #f0c14b;
    border-width: 1px;
    border-style: solid;
    border-color: #a88734 #9c7e31,#846a29;
    margin-top: 10px;
    color:#111;
    padding:3px 6px;
    margin-top: 20px;
}
.login__logo{
    margin:20px auto;
    object-fit: contain;
    width: 150px !important;
}
.order_complete .info{
    background-color: lightgray;
    padding:20px 40px;
    text-align: center;
    margin-bottom: 20px;
    height: fit-content;
}
.order_complete .info > p {
    font-size: 18px;
    margin: 10px 0 20px;
}